/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
//
.container {
  background: #DBE4EE;
}

.foot {
  padding-top: 5px;
  padding-bottom: 5px;
}
