<div class="container">
  <div class="row">
    <h1 class="text-center">Add Picture</h1>
    <!-- <div class="col-sm-3 col-md-6 col-sm-offset-3"> -->
    <div class="col-sm-6 col-md-6">
      <%= render 'form' %>
        <!-- <div> -->
    </div>
    <div class="col-sm-6 col-md-6">
      <%= render 'image' %>
    </div>
  </div>
</div>

<!-- Include Google Maps JS API -->
